#!/usr/bin/env ruby

passthrough '/assets/images/**/*'

compile '/**/*.scss' do
  filter :sass, syntax: :scss, style: :compact
  filter :relativize_paths, type: :css
  write ext: '.css'
end

compile '/**/*.slim' do
  filter :slim
  layout '/footer.*' unless item.identifier.to_s.start_with?("/card/")
  layout '/default.*'
  if item.identifier =~ '**/index.*'
    write ext: '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.md' do
  filter :kramdown
  layout '/doc.*'
  layout '/footer.*'
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*.slim', :slim
