.container
  .row
    .col.my-2
      h1.font-weight-lighter.px-3.px-md-0 
        a href="https://github.com/knmsyk" @knmsyk
  .row
    .col
      ul
        li
          a href="./works" Works 
        li
          a href="./card" Contact
