@mixin coloring($foreground-color, $base-color) {
  body {
    background: $base-color;
    color: $foreground-color;
  }
  a {
    color: $foreground-color;
  }
}

$themes: light, dark, no-preference;
@each $theme in $themes {
  @media (prefers-color-scheme: $theme) {
    @if $theme == dark {
      @include coloring(#93a1a1, #000);
    }
    @else {
      @include coloring(#01004d, #fff);
    }
  }
}
