.container
  .row
    .col.my-2
      h1.font-weight-lighter.px-3.px-md-0 Works
  .row.justify-content-between
    - products.each do |product|
      .col-12.col-md-6.p-0.p-md-3
        img.img-fluid.rounded src=@items["/assets/images/#{product.cover}"].path alt=product.name
        .p-3
          /pre.pre-wrap.m-3.text-secondary.font-weight-light.font-italic= render "/#{product.quote}.*"
          == render "/#{product.text}.*"
          ul.list-group.list-group-flush.mt-2
            - [product.platform, product.release].each do |item|
              li.list-group-item.bg-transparent.p-1
                = item
            - unless product.links.empty?
              li.list-group-item.bg-transparent.p-1
                - product.links.each do |link|
                  a href=link.url target="_blank"
                    span
                      = link.title
                      ==<  octicon "link-external", height: 16
      .w-100.d-md-none
        hr.invisible
